# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Understand the programming languages for data science 
* Understand the common libraries for data science
* Understand the tools used in the data science scope

Some of the popular languages that Data Scientists use are: Python, R, Scala, SQL, Julia, Java etc. 
1. Python 
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include: (Python) Panda, Numpy, Matplotlib, Seaborn, Scikit-learn, Keras, TensorFlow, PyTorch. (Scala) Vegas, BigDL. (R) dplyr, stringr, ggplot, caret, Plotly, Lattice, Leaflet, GGally.
1. Panda
2. Numpy
3. TensorFlow
4. dplyr
5. ggplot

|Data Science Tools|
|----|
|Hadoop|
|Apache - Spark|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Jianhua Li